@charset "utf-8";
/** forum::index **/
/*统计*/
#chart { margin-bottom: 15px; }
.chart { padding-left: 32px; background: url({STYLEIMGDIR}/forum/chart.png) no-repeat 0 50%; color:#666; }
.chart em { color:#ff6600; }


/** end **/

/** forum::index,forum::forumdisplay,group::index,group::group,search::group **/
/*fl*/
.fl{ border:0px; background:none}
.fl .comeing_box .bm{ margin-bottom:10px; border:0px;}
.fl .comeing_box .bm .bm_h{ height:44px; line-height:44px; color:#333; border:0px; border-right:1px solid #E2E2E2; background:url({STYLEIMGDIR}/forum/bm_h.gif) repeat-x 0 0; padding:0  }
.fl .comeing_box .bm .bm_h a{ color:#333;}
.fl .comeing_box .bm .bm_h h2{ float:left;}
.fl .comeing_box .bm .bm_h h2 a{ float:left; height:44px; padding:0px 27px 0px 15px; font-size:18px; font-family:'Microsoft YaHei','微软雅黑','SimHei','宋体'; color:#FFF; background:#0099c0;}
.fl .comeing_box .bm_c{ padding:0px; border:1px solid #E2E2E2; border-top:0px;}
.fl .comeing_box .bm_h .o { width: 25px; margin-right:10px; }
.fl .comeing_box .bm_h .o img { margin-top: 12px; }
.fl .comeing_box .bm .bm_h h2 a{ background-color:#0099c0!important;}
.comeing_box .fl_tb td { padding: 10px; }
.comeing_box .fl_row{ }
.comeing_box .fl_row td { border-top: 1px solid #efefef;  }

.comeing_box .fl_icn { width: 50px; }
.comeing_box .fl_icn_g { width: 50px; }
.comeing_box .fl_g dl { margin-left: 50px;}

.comeing_box .fl_tb h2,.comeing_box .fl_g dt{ font-weight:700;}
.comeing_box .fl_tb h2 a,.comeing_box .fl_g dt a{ font-size:18px; font-family: 'Microsoft YaHei','微软雅黑','SimHei','宋体'; color:#0099c0;}
.comeing_box .fl_g dd a{ color:#979797;}
.comeing_box .fl_g em{color:#979797;}

.comeing_box .fl_tb tr:hover{ background:#f6f6f6}

/** end **/

/** forum::forumdisplay,group::group **/
/*直播*/
.comeing_box #livethread { background: #f9f9f9; border:1px solid #ddd; }
.comeing_box .livethreadtitle .replynumber{ margin-top:10px; }

/** end **/

/** forum::forumdisplay **/

.comeing_bdl { 
	border: 1px solid #ddd; 
	background-color: #fff;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	-moz-box-shadow:0 2px 0px 0px #ddd ; 
	-webkit-box-shadow:0 2px 0px 0px #ddd ; 
	box-shadow:0 2px 0px 0px #ddd ;
}
.comeing_bdl .tbn{ margin:0px!important;}
.comeing_bdl .tbn dl{ padding:0 10px;}
.comeing_bdl .tbn h2{
	border-top: 0px; 
	border-bottom: 1px solid #ddd;
	color:#333;
	padding-left:10px;
	font-size:18px;
	font-weight:400;
	background:url({STYLEIMGDIR}/box/bm_h.gif) repeat-x 0 -42px;
	line-height:42px;
	height: 42px;
	/*圆角*/
  -moz-border-radius: 3px 3px 0 0; 
	-webkit-border-radius: 3px 3px 0 0; 
	border-radius: 3px 3px 0 0; 
}
.comeing_bdl .tbn h2 a{ color:#333}

.comeing_bdl  dt { overflow: hidden; height: 27px; line-height: 27px; border: solid #ebebeb; border-width: 1px 0; background:url({STYLEIMGDIR}/box/bm_h.gif) repeat-x 0 0!important; }
.comeing_bdl  dd.bdl_a a { background-color: #f6f6f6; font-weight: 700; color:#000; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/*下一页*/
#autopbn { 
	border: 1px solid #ddd; 
	background:#fff; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	/*阴影*/
	-moz-box-shadow:0 2px 0px 0px #ddd ; 
	-webkit-box-shadow:0 2px 0px 0px #ddd ; 
	box-shadow:0 2px 0px 0px #ddd ;
}
#autopbn:hover {
	background: #ff9900!important;
	border:1px solid #ff9900;
	color:#fff;
	/*阴影*/
	-moz-box-shadow: inset 0 -3px 0px 0px #f18900; 
	-webkit-box-shadow: inset 0 -3px 0px 0px #f18900; 
	box-shadow: inset 0 -3px 0px 0px #f18900 ;
}
/** end **/

/** forum::forumdisplay,forum::viewthread,group::viewthread **/
#vfastpost{
  background:#f6f6f6;
  padding:10px;
  position:relative;
	/*圆角*/
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}
#vfastpost #vf_b button{
	/*阴影*/
	-moz-box-shadow: 0 0px 0px 0px; 
	-webkit-box-shadow: 0 0px 0px 0px; 
	box-shadow: 0 0px 0px 0px;
}
#vfastpost #vf_l{ background: url({STYLEIMGDIR}/forum/v.png) no-repeat -30px -39px;}
#vfastpost #vf_m{ background: url({STYLEIMGDIR}/forum/v.png) repeat-x 0px -79px;}
#vfastpost #vf_r{ background: url({STYLEIMGDIR}/forum/v.png) no-repeat -47px -119px;}
#vfastpost #vf_b button{ background: url({STYLEIMGDIR}/forum/v.png) no-repeat 0 0;}
/** end **/

/** forum::viewthread,group::viewthread,forum::trade,forum::misc **/

.comeing_threadview { border:0px; background:none} 
.comeing_threadview .pls{ background:#f6f6f6; border-right: 1px solid #ddd; }

.comeing_threadview .ad .pls { background:#f6f6f6;}
.comeing_threadview .ad .plc { background:none;}
.comeing_threadview .pi { border-bottom: 1px solid #ddd; }
.comeing_threadview .po { border-top: 1px solid #ddd; }

.comeing_threadview .comeing_viewthread{
  border:1px solid #ddd;
	background:#fff;
	margin-bottom:10px;
	/*圆角*/
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	/*阴影*/
	-moz-box-shadow:0 2px 0px 0px #ddd ; 
	-webkit-box-shadow:0 2px 0px 0px #ddd ; 
	box-shadow:0 2px 0px 0px #ddd ;
}

/*帖子头部*/
.comeing_threadview #first{
	/*圆角*/
	-moz-border-radius: 0px 0px 5px 5px; 
	-webkit-border-radius: 0px 0px 5px 5px; 
	border-radius: 0px 0px 5px 5px;
}
.comeing_vt_pf{
  border:1px solid #ddd;
	border-bottom:0px;
	-moz-border-radius: 5px 5px 0 0; 
	-webkit-border-radius: 5px 5px 0 0; 
	border-radius: 5px 5px 0 0;
	background:url({STYLEIMGDIR}/box/bm_h.gif) repeat-x 0 -42px;
}

.comeing_viewthread_top td{
	height:30px;
}
.comeing_viewthread_top .pls{ padding-top:5px; padding-bottom:5px; border-right:0px; background:none }
.comeing_viewthread_top .plc{ padding-top:12px;}

.comeing_threadview #pl_top{ border-left:1px solid #ddd; border-right:1px solid #ddd;}
.comeing_threadview #pl_top .ad .pls, .comeing_threadview #pl_top .ad .plc { background:#ddd}



.comeing_viewthread_top .side_btn a { width:10px; height:38px;}


/** end **/

/** forum::forumdisplay,forum::viewthread,forum::modcp,forum::collection,group,home::space,home::task,home::follow,search::forum,search::group,member::groupexpiry,misc::ranklist,misc::stat,misc::tag,forum::guide,portal::block **/

/*帖子类型*/
.ttp{ border-color:#ddd; overflow:hidden;}


.ttp a, .ttp strong { 
	border: 1px solid #ddd; 
	background:#fff; 
	font-size:14px;
	padding:5px 8px 8px;
		-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	

}
.ttp .a a,.ttp a:hover {
	border-color:#0099c0; 
	background: #0099c0!important; 
	color: #fff;
		-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;

}
.ttp .num { background:#999; padding:0 5px; margin-left:5px;  }
.ttp .a .num,.ttp a:hover .num { background:#fff; color:#999 !important; }

/*帖子列表*/
#threadlist .bm_h table{ width:100%; }
#threadlist .bm_c{ padding:0 0 0 0; }
#atarget{ margin-left:10px; }


.tl th, .tl td { padding: 8px 0; border-bottom: 1px solid #eee; background:#F8F8F8;}
.comeing_bd th,.comeing_bd td{ background:#FFF;}
.tl .ts th, .tl .ts td { padding: 5px 0; border-bottom-color: {COMMONBORDER}; background: #F8F8F8; }

/*预览*/
.comeing_tdpre{
	visibility: hidden;
	background: #444;
	margin-right:10px;
	color:#fff;
	padding:3px 10px;
	/*圆角*/
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	/*阴影*/
	-moz-box-shadow: inset 0 -3px 0px 0px #333; 
	-webkit-box-shadow: inset 0 -3px 0px 0px #333; 
	box-shadow: inset 0 -3px 0px 0px #333 ;
}
.comeing_tdpre:hover{ text-decoration:none}


.tl .threadpre .threadpretd { border-left:0px; border-right:0px;}
.tl .threadpretd{ padding:5px 10px 10px 10px; background:#f6f6f6;}
.tl .icon_preview { background: url({STYLEIMGDIR}/forum/icon_preview.gif);}
.tl .comeing_tl_sub .showhide{ -display:none}

.tl th:hover .comeing_tdpre, .tl td.fn:hover .comeing_tdpre  { visibility: visible; }

/** end **/

/** forum::forumdisplay,group::forumdisplay **/

/*帖子列表最后一行*/
.tl tbody:last-child .threadpre .threadpretd { border:0px; border-top:1px solid #ddd}

/*推荐帖子幻灯片*/
.comeing_recommend{ padding:10px;}
.comeing_recommend .slidebox{ position:relative;}
.comeing_recommend .slideshow div{ overflow:hidden}
.comeing_recommend .slideshow p{ height:40px; font-size:14px; background:url({STYLEIMGDIR}/png.png); position:absolute; left:0px; bottom:30px; color:#fff; text-align:left; line-height:40px; padding:0 10px; }

.comeing_recommend .slidebar{ position:absolute; left:0px; bottom:0px; padding:4px 10px 10px 10px; height:16px; background:url({STYLEIMGDIR}/png.png); }
.comeing_recommend .slidebar em{ float:left; width:16px; height:16px; cursor:pointer; font-size:9px; background:#fff; text-align:center; line-height:16px; margin:0 2px; color:#000; }
.comeing_recommend .slidebar em.on{ background:#369; color:#fff; }

/** end **/

/** portal::list,portal::view **/

#pt{ padding-bottom:6px; padding-left:10px; padding-right:10px;}

.comeing_ct2{ padding:10px; margin-bottom:10px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:url({STYLEIMGDIR}/portal/ct2.gif) repeat-y 100% 0 #fff;
}
.comeing_ct2 .sd{ float:right; width:300px; overflow:hidden}
.comeing_ct2 .mn{ float:left; width:659px; overflow:hidden}

.comeing_picnewslist{}
.comeing_picnewslist li{ border-bottom:1px solid #ddd; padding-bottom:10px; padding-top:10px;}

.comeing_picnewslist li img{ width:180px; height:130px; float:left; margin-right:10px; border:1px solid #ddd;}
.comeing_picnewslist li h3{ font-size:18px; font-weight:400; height:40px; line-height:40px; overflow:hidden; }
.comeing_picnewslist li p.about{ color:#666; line-height:22px;}
.comeing_picnewslist li p.info{ color:#ccc; height:24px; line-height:24px; }
.comeing_picnewslist li p.info a{ color:#ccc}

.comeing_picnewslist li.on{ background:#f6f6f6}

/*门户模块*/
.comeing_portalbm,.comeing_portaldiy_comm{ border:0px; background:none; margin-bottom:0px; }
.comeing_portalbm .bm_h,.comeing_portaldiy_comm .frame-title{ height:37px; line-height:24px; padding:0px; border:0px; font-size:18px;  background:url({STYLEIMGDIR}/portal/portalbm_h.gif) repeat-x 0 100%; }
.comeing_portalbm .bm_h span.a,.comeing_portaldiy_comm .frame-title .titletext{ float:left; height:37px; padding:0 10px;font-weight:400; background:url({STYLEIMGDIR}/portal/portalbm_h_a.gif) repeat-x 0 100%;}
.comeing_portalbm .bm_h span.a:hover,.comeing_portaldiy_comm .frame-title .titletext:hover{ background:url({STYLEIMGDIR}/portal/portalbm_h_a_hover.gif) repeat-x 0 100%;}
.comeing_portaldiy_comm .column{ padding:5px 0;}

/*推荐专题*/
.comeing_pstslide{ height:162px; position:relative;}
.comeing_pstslide .slideshow h3{ font-size:14px; height:40px; line-height:40px; font-weight:normal; width:100%; overflow:hidden }
.comeing_pstslide .slideshow h3 a{ color:#369}
.comeing_pstslide .slideshow img{ float:left; margin-right:10px; }
.comeing_pstslide .slideshow p{ padding:5px 0; height:80px; line-height:20px; overflow:hidden; color:#999}

.comeing_pstslide .slidebar{ position:absolute; left:90px; bottom:0px; height:12px; }
.comeing_pstslide .slidebar em{ cursor:pointer; float:left; width:22px; height:12px; background:url({STYLEIMGDIR}/portal/pstslide.gif) no-repeat 50% 0;}
.comeing_pstslide .slidebar em.on{ background:url({STYLEIMGDIR}/portal/pstslide.gif) no-repeat 50% -12px;}

/*排行*/
.comeing_top10{ line-height:28px; padding:0 5px; background:url({STYLEIMGDIR}/portal/top10.gif) no-repeat 5px 0}
.comeing_top10 li{ height:28px; overflow: hidden; padding-left:29px;}

/*comeing_diytb*/
.comeing_diytab{ border:0px; background:none; margin-bottom:0px;}
.comeing_diytab .tab-title{ background:#ff6600; height:40px;}

.comeing_diytab .tb { padding-left:0; line-height:40px;}
.comeing_diytab .tb li {}
.comeing_diytab .tb li a { padding: 0 15px; border:0px; border-right:0px; color:#fff }
.comeing_diytab .tb li.a a{ background: #0099cc; font-weight: 400; color:#fff}
.comeing_diytab .tb-c { padding: 10px; }
	
/** end **/

/** portal::view **/

/*文章*/
.comeing_newtitle{ background:#fff; padding:10px 10px; text-align:center}
.comeing_newtitle h1{ font-size:24px; line-height:40px;}
.comeing_newtitle p{ color:#ccc; line-height:20px; padding-top:10px; border-bottom:1px solid #eee; padding-bottom:10px;}
.comeing_newtitle p a{ color:#ccc;}


.comeing_newscontent{ background:#fff; margin-bottom:10px;}
.comeing_summary{ padding:10px 20px; background:#f6f6f6; border:1px solid #eee; }
.comeing_summary div{ line-height:24px;}

.comeing_newscontent .d{ padding:20px;}
.comeing_newscontent  #article_content{ font-size:14px; line-height:1.8;}

.comeing_newsmanage{ padding:10px; border-top:1px solid #ddd; background:#eee}

.comeing_portalbox{ border:0px; background:none;}
.comeing_portalbox .bm_h { padding: 0 10px; height: 40px; line-height:40px; font-size: 16px; font-weight:400; border:0px; border-top:3px solid #ddd; background:none}
.comeing_portalbox .bm_c{ padding:10px;}
/** end **/
