<!--{subtemplate common/header_common}-->

<!--{if $_G['cache']['plugin']['comeing_skin']}-->
<!--{eval require './source/plugin/comeing_skin/core.inc.php';}-->
<!--{/if}-->
<!--{eval require $_G['cache']['style_default']['directory'].'/lang/'.CHARSET.'.php';}-->
<!--{eval define('STYLEIMGDIR', $_G[style][styleimgdir]);}-->
<meta name="application-name" content="$_G['setting']['bbname']" />
<meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
<!--{if $_G['setting']['portalstatus']}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][1]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['portal']) ? 'http://'.$_G['setting']['domain']['app']['portal'] : $_G[siteurl].'portal.php'};icon-uri={$_G[siteurl]}{IMGDIR}/portal.ico" />
<!--{/if}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{IMGDIR}/bbs.ico" />
<!--{if $_G['setting']['groupstatus']}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][3]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['group']) ? 'http://'.$_G['setting']['domain']['app']['group'] : $_G[siteurl].'group.php'};icon-uri={$_G[siteurl]}{IMGDIR}/group.ico" />
<!--{/if}-->
<!--{if helper_access::check_module('feed')}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][4]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['home']) ? 'http://'.$_G['setting']['domain']['app']['home'] : $_G[siteurl].'home.php'};icon-uri={$_G[siteurl]}{IMGDIR}/home.ico" />
<!--{/if}-->
<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
<!--{/if}-->
<!--{if !empty($rsshead)}-->
$rsshead<!--{/if}-->
<!--{if widthauto()}-->

<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
<!--{/if}-->
<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
<!--{elseif $_G['basescript'] == 'portal'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />


<!--{/if}-->
<!--[if IE 6]>
  <script type="text/javascript" src="{STYLEIMGDIR}/js/png.js"></script>
  <script type="text/javascript">
  DD_belatedPNG.fix('.png,#comeing_hd h2 img,.nvhm,#pt .z em,.chart,.comeing_cs,.comeing_cs:hover');
  </script>
<![endif]-->

</head>
<body id="nv_{$_G[basescript]}" class="pg_{CURMODULE}{if $_G['basescript'] === 'portal' && CURMODULE === 'list' && !empty($cat)} {$cat['bodycss']}{/if}" onkeydown="if(event.keyCode==27) return false;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}--> 
<!--{template common/header_diy}--> 
<!--{/if}--> 
<!--{if check_diy_perm($topic)}--> 
<!--{template common/header_diynav}--> 
<!--{/if}--> 
<!--{if CURMODULE == 'topic' && $topic && empty($topic['useheader']) && check_diy_perm($topic)}--> 
$diynav 
<!--{/if}--> 
<!--{if empty($topic) || $topic['useheader']}--> 
<!--{if $_G['setting']['mobile']['allowmobile'] && (!$_G['setting']['cacheindexlife'] && !$_G['setting']['cachethreadon'] || $_G['uid']) && ($_GET['diy'] != 'yes' || !$_GET['inajax']) && ($_G['mobile'] != '' && $_G['cookie']['mobile'] == '' && $_GET['mobile'] != 'no')}-->
<div class="xi1 bm bm_c"> {lang your_mobile_browser}<a href="{$_G['siteurl']}forum.php?mobile=yes">{lang go_to_mobile}</a> <span class="xg1">|</span> <a href="$_G['setting']['mobile']['nomobileurl']">{lang to_be_continue}</a> </div>
<!--{/if}--> 
<!--{if $_G['setting']['shortcut'] && $_G['member'][credits] >= $_G['setting']['shortcut']}-->
<div id="shortcut"> <span><a href="javascript:;" id="shortcutcloseid" title="{lang close}">{lang close}</a></span> {lang shortcut_notice} <a href="javascript:;" id="shortcuttip">{lang shortcut_add}</a> </div>
<script type="text/javascript">setTimeout(setShortcut, 2000);</script> 
<!--{/if}-->



<div id="comeing_toptb"> 
  <!--{if !empty($_G['style']['extstyle'])}--> 
  <a class="comeing_cs" onClick="showWindow('style', this.href, 'get', 0)" href="plugin.php?id=comeing_skin:style"></a> 
  <!--{/if}-->

	  
	  
<div class="sq_nav clearfix">
        
		
		
		<div class="alyout ">
        <h2 class="float_l"><a href="http://www.huizhou.cn" target="_blank"><img src="template/comeing_yae_05/comeing/index_logo.jpg" /></a></h2>
        <div class="sq_navlist w670 float_l">
        	<ul >
            	<li><a href="http://www.huizhou.cn/news/" target="_blank">新闻</a></li><li><a href="http://www.huizhou.cn/gov/" target="_blank">时政</a></li><li><a href="http://www.huizhou.cn/jrhz_hmlt/hd/" target="_blank">向书记说说心里话</a></li><li><a href="http://www.huizhou.cn/jrhz_hmlt/" target="_blank">惠民在线</a></li><li><a href="http://www.huizhou.cn/lawonline/" target="_blank">法治在线</a></li><li><a href="http://v.huizhou.cn/" target="_blank">视频</a></li><li><a href="http://www.huizhou.cn/house/" target="_blank">房产</a></li><li><a href="http://www.huizhou.cn/auto/" target="_blank">汽车</a></li><li><a href="http://www.huizhou.cn/travel/" target="_blank">旅游</a></li><li><a href="http://www.huizhou.cn/food/" target="_blank">美食</a></li><li><a href="http://www.huizhou.cn/ent/" target="_blank">文娱</a></li><li><a href="bbs" target="_blank">社区</a></li>
                
            </ul>
        </div>
		
		<!--用户名-->
	  	  <div class="w185 float_r">
           <ul class="menu float_r">
              <!--{if $_G['uid']}--> 
              <a id="user"  href="javascript:;" onMouseOver="delayShow(this, function () {showMenu({'ctrlid':'user','pos':'34!','ctrlclass':'a','duration':2});})"><!--{$_G[member][username]}--></a> 
              <!--{elseif !empty($_G['cookie']['loginuser'])}--> 
              <a id="loginuser" ><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a> <a href="member.php?mod=logging&action=login" onClick="showWindow('login', this.href)">{lang activation}</a> <a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
              <!--{elseif !$_G[connectguest]}--> 
              <a href="member.php?mod=register" class="float_r" style="margin-top:7px;" ><img src="template/comeing_yae_05/comeing/sq_reguit.jpg"/></a> <a href="member.php?mod=logging&amp;action=login" onClick="showWindow('login', this.href)" class="float_r" style="margin-right:10px; margin-top:7px;"  ><img src="template/comeing_yae_05/comeing/sq_login.jpg"/></a> 
              <!--{/if}--> 
            </ul>
            
          </div>
        
        <div class="clearfix"></div>
        </div>
		
		</div>
		

</div>






<!--{if !IS_ROBOT}-->
<ul id="user_menu" class="cl" style="display:none;">
  <li><a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}">我的空间</a></li>

  <li><a href="home.php?mod=space&do=pm" id="pm_ntc">{lang pm_center}</a>{if $_G[member][newpm]}<span class="new">new</span>{/if}</li>
  <li><a href="home.php?mod=space&do=notice" id="myprompt" >{lang remind}<!--{if $_G[member][newprompt]}--><span class="new">($_G[member][newprompt])</span><!--{/if}--></a><span id="myprompt_check"></span></li>
  <!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}-->
  <li><a href="home.php?mod=task&item=doing" id="task_ntc">{lang task_doing}<span class="new">new</span></a></li>
  <!--{/if}--> 
  <!--{if $_G['uid'] && $_G['adminid'] == 1 && $_G['setting']['cloud_status']}-->
  <li><a href="admin.php?frames=yes&action=cloud&operation=applist" target="_blank">{lang cloudcp}</a></li>
  <!--{/if}-->
  <li><a href="home.php?mod=spacecp">$comeing_lang[10]</a></li>
  <!--{if check_diy_perm($topic)}-->
  <li><a href="javascript:openDiy();" title="{lang open_diy}">$comeing_lang[0]</a></li>
  <!--{/if}--> 
  <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
  <li><a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a></li>
  <!--{/if}--> 
  <!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
  <li><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a></li>
  <!--{/if}--> 
  <!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
  <li><a href="admin.php" target="_blank">{lang admincp}</a></li>
  <!--{/if}-->
  <!--{if empty($_G['disabledwidthauto']) && $_G['setting']['switchwidthauto']}-->
  <li><a href="javascript:;" id="switchwidth" onClick="widthauto(this)" title="{if widthauto()}{lang switch_narrow}{else}{lang switch_wide}{/if}"><!--{if widthauto()}-->{lang switch_narrow}<!--{else}-->{lang switch_wide}<!--{/if}--></a></li>
  <!--{/if}-->
  <li><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a></li>
</ul>


<!--{if $_G['uid']}-->
				<ul id="myitem_menu" class="p_pop" style="display: none;">
					<li><a href="forum.php?mod=guide&view=my">{lang mypost}</a></li>
                                         <li><a href="home.php?mod=space&do=blog&view=me&from=space">{lang blog}</a></li>
					<li><a href="home.php?mod=space&do=favorite&view=me">{lang favorite}</a></li>
					<li><a href="home.php?mod=space&do=friend">{lang friends}</a></li>
					<!--{hook/global_myitem_extra}-->
				</ul>
			<!--{/if}-->
<!--{/if}-->



<div id="coeming_hd" >
  <div class="alyout"  >
 
  <!--检索页面-->
    <div class="hdc cl">
      <h2>
		<a href="http://sns.huizhou.cn/blog/" title="东江博客">
			<img src="template/comeing_yae_05/comeing/sq_blog_logo.jpg" alt="东江博客" border="0">
		</a>
	  </h2>
      <div class=" y cl float_r" style="width:450px; padding-top:10px;">
	   <!--{subtemplate common/header_userstatus}-->
  
      </div>
    </div>
	
	
    <!--{if !empty($_G['setting']['plugins']['jsmenu'])}-->
    <ul class="p_pop h_pop" id="plugin_menu" style="display: none">
      <!--{loop $_G['setting']['plugins']['jsmenu'] $module}--> 
      <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}-->
      <li>$module[url]</li>
      <!--{/if}--> 
      <!--{/loop}-->
    </ul>
    <!--{/if}--> 
    $_G[setting][menunavs] </div>
	
	
	<div class="sq_navbar clear"  >
	<div class="alyout">
    	<ul class="float_l sq_subnavlist">
          <li><a href="http://sns.huizhou.cn">首页</a></li>
          <li><a href="forum.php">论坛</a></li>
          <li class="first"><a href="http://blog.huizhou.cn">博客</a></li>
          <li><a href="http://hd.huizhou.cn">活动</a></li>
        </ul>
        <div class="float_r" style="padding-top:5px;"><!--{subtemplate common/pubsearchform}--> </div>
    </div>
</div>
	
	
	
	
	
	
</div>
<!--{if $comeing_adbanners}-->
<div class="comeing_banner">
  <div class="comeing_banner_l comeing_wp">
    <div class="comeing_banner_r">
      <div class="wp">
        <div class="comeing_banner_box cl">
          <h1>$comeing_lang[13]</h1>
          <div class="comeing_headerad_slide slidebox" slidenum="1" slidestep="1">
            <div class="slideshow"> 
              <!--{loop $comeing_adbanners $ad}-->
              <div>
                <div class="comeing_header_ad">$ad['html']</div>
              </div>
              <!--{/loop}--> 
            </div>
            <a href="javascript:void(0);" class="comeing_adbar slidebarup" mevent="click" ><</a> <a href="javascript:void(0);" class="comeing_adbar slidebardown" mevent="click">></a> </div>
          <script type="text/javascript">runslideshow();</script> 
        </div>
      </div>
    </div>
  </div>
</div>

<!--{/if}--> 
<!--{hook/global_header}--> 
<!--{/if}--> 
<!--{if !$comeing_channel['nowp']}-->
<div id="wp" class="wp">
<!--{/if}-->