<div class="exfm cl">
	<div class="sinf sppoll z">
		<dl>
			<dt><span class="rq">*</span>{lang post_event_time}:</dt>
			<dd>
				<div id="certainstarttime" {if $activity['starttimeto']}style="display: none"{/if}>
					<input type="text" name="starttimefrom[0]" id="starttimefrom_0" class="px" onclick="showcalendar(event, this, true)" autocomplete="off" value="$activity[starttimefrom]" tabindex="1" />
				</div>
				
				
			</dd>
			<dt><span class="rq">*</span><label for="activityplace">{lang activity_space}:</label></dt>
			<dd>
				<input type="text" name="activityplace" id="activityplace" class="px oinf" value="$activity[place]" tabindex="1" />
			</dd>
			
                        <dt><span class="rq">*</span><label for="activityclass">联系方式</label></dt>
			<dd class="hasd cl">
				<!--{if $activitytypelist}-->
					<ul id="activitytypelist" style="display: none">
					<!--{loop $activitytypelist $type}-->
						<li>$type</li>
					<!--{/loop}-->
					</ul>
				<!--{/if}-->
				<span><input type="text" id="activityclass" name="activityclass" class="px" value="$activity[class]" tabindex="1" /></span>
				<!--{if $activitytypelist}-->
					<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'activityclass', 'activitytypelist')">^</a>
				<!--{/if}-->
			</dd>
			
			
			
			<!--{if $_G['setting']['activityextnum']}-->
			<dt><label for="extfield">{lang other_data}:</label></dt>
			<dd>
				<textarea name="extfield" id="extfield" class="pt" cols="50" style="width: 270px;"><!--{if $activity['ufield']['extfield']}-->$activity[ufield][extfield]<!--{/if}--></textarea><br />{lang post_activity_message} $_G['setting']['activityextnum'] {lang post_option}
			</dd>
			<!--{/if}-->
		</dl>
	</div>


    

</div>
<script type="text/javascript" reload="1">
simulateSelect('gender');
function checkvalue(value, message){
	if(!value.search(/^\d+$/)) {
		$(message).innerHTML = '';
	} else {
		$(message).innerHTML = '<b>{lang input_invalid}</b>';
	}
}

EXTRAFUNC['validator']['special'] = 'validateextra';
function validateextra() {
	if($('postform').starttimefrom_0.value == '' && $('postform').starttimefrom_1.value == '') {
		showDialog('{lang post_error_message_1}', 'alert', '', function () { if($('activitytime').checked) {$('postform').starttimefrom_1.focus();} else {$('postform').starttimefrom_0.focus();} });
		return false;
	}
	if($('postform').activityplace.value == '') {
		showDialog('{lang post_error_message_2}', 'alert', '', function () { $('postform').activityplace.focus() });
		return false;
	}


	return true;
}
function activityaid_upload(aid, url) {
	$('activityaid_url').value = url;
	updateactivityattach(aid, url, '{$_G['setting']['attachurl']}forum');
}
</script>